# Node modules
node_modules/

# Environment configuration
.env
default-env.json

# Build output
dist/
gen/
coverage/
.mtar
mta_archives/
*.mtar

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# BAS settings
.vscode/
.devcontainer/

# OS-specific
.DS_Store
Thumbs.db

# auto generated wildcard
db/.env